/* This class is assigned to #cover upon 2 card flips*/
.block {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.modal-content {
  text-align: center;
  border: 3px solid black;
  background-image: url('https://media.giphy.com/media/5jT0jaNDsM6Ik7X9yq/giphy.gif');
  background-color: lightgray;
  background-blend-mode: overlay;
  background-size: contain;
}

.modal-content p {
  font-weight: bolder;
  font-size: 23px;
  /* background-color: white; */
  display: inline-block;
}

#body {
  background-image: url('thomas.jpg');
  background-color: lightgray;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

  /* width: 80%; */
  height: 90vh;
  max-width: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-color: #9E4E20;
  padding-bottom: 12px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

img {
    height: 100%;
}

/* https://www.w3schools.com/howto/howto_css_flip_image.asp */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    display: inline-block;
    width: calc(100%/6);
    height: calc(90vh/6);
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box-clicked .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    background-image: url('https://media.freestocktextures.com/cache/64/84/6484b7f00c6c19bd08f5358a1183e6ce.jpg');
    /* color: black; */
    border: 3px solid black;
    border-radius: 3px;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: transparent;
    overflow: hidden;
    color: white;
    transform: rotateY(180deg);
  }